/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;700&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
  color: #1D1D1D;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1251px;
}

.header {
  min-height: 828px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../img/header/header-bg.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/header/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 11px;
}
.header__top {
  margin-bottom: 172px;
}
.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 115px;
}
.header__title {
  max-width: 728px;
  font-family: "Fira Sans", sans-serif;
  font-size: 64px;
  font-weight: 500;
  text-align: center;
}
.header__nav {
  margin-right: 78px;
}
.header__footer {
  margin-bottom: 58px;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding: 5px;
  position: relative;
  --nav-translate-x: 0px;
}

.nav__item {
  min-width: 130px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}
.nav__item a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__list::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 130px;
  height: 32px;
  background-color: #1C2D4A;
  border-radius: 100px;
  -webkit-transform: translateX(var(--nav-translate-x));
          transform: translateX(var(--nav-translate-x));
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 1;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.btn__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--projects {
  background-color: #345389;
  border-radius: 100px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn--contacts {
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  padding-left: 22px;
  padding-right: 22px;
}

.header__lang-switch {
  background-color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px;
  border-radius: 100px;
  position: relative;
}
.header__lang-switch::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 32px;
  background-color: #1C2D4A;
  border-radius: 100px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  z-index: 1;
}
.header__lang-switch--en::before {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}
.header__lang-switch__btn {
  width: 60px;
  height: 32px;
  color: #000000;
  position: relative;
  z-index: 2;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.header__lang-switch__btn--active {
  color: #FFFFFF;
}