.about-company {
  padding: 100px 0;

  @media (max-width: 768px) {
    padding: 50px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
      gap: 40px;
    }
  }

  &__left {
    .info-grid {
      display: grid;
      grid-template-columns: repeat(2, 280px);
      gap: 20px 32px;

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }
    }

    .info-grid__item {
      width: 280px;
      height: 258px;
      border: 1px solid $color-grey-light;
      border-radius: 20px;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 1024px) {
        width: 100%;
      }

      @media (max-width: 768px) {
        height: 200px;
        padding: 0 20px;
      }

      h1 {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 10px;

        @media (max-width: 768px) {
          font-size: 48px;
        }
      }

      p {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    max-width: 592px;

    @media (max-width: 768px) {
      row-gap: 20px;
      max-width: 100%;
    }
  }

  &__title {
    @include heading-lg;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 18px;
    color: $color-description;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__buttons {
    display: flex;
    gap: 8px;

    @media (max-width: 480px) {
      flex-direction: column;
      gap: 12px;
    }

    .btn--contacts {
      border: 1px solid $color-black-soft;
      color: $color-black-soft;
    }
  }
}
