.about-company {
  padding: 100px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }

  &__left {
    .info-grid {
      display: grid;
      grid-template-columns: repeat(2, 280px);
      gap: 20px 32px;
    }

    .info-grid__item {
      width: 280px;
      height: 258px;
      border: 1px solid $color-grey-light;
      border-radius: 20px;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 10px;
      }

      p {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
  }

  &__title {
    @include heading-lg;
  }

  &__text {
    font-size: 18px;
    color: $color-description;
  }

  &__buttons {
    display: flex;
    gap: 8px;

    .btn--contacts {
      border: 1px solid $color-black-soft;
      color: $color-black-soft;
    }
  }
}
