.advantages {
  margin-bottom: 100px;

  &__title {
    @include heading-lg;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 32px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &:hover .gear {
      transform: rotate(-30deg);
    }
  }

  &__icon-wrapper {
    position: relative;
    width: 116px;
    height: 116px;

    .gear {
      transition: transform 0.4s ease-in-out;
    }

    .eclipse {
      @include icons-style;
    }

    .icon {
      @include icons-style;
    }
  }

  &__item-title {
    font-size: 20px;
    font-weight: 600;
  }

  &__item-text {
    font-size: 16px;
    color: $color-description;
    width: 380px;
  }
}
