.footer {
  background-color: #000000;
  color: $color-white;
  padding-top: 36px;

  &__top {
    display: flex;
    padding-bottom: 66px;
    border-bottom: 1px solid $color-white;
  }

  &__logo {
    padding-right: 138px;

    img {
      width: 138px;
      height: 143px;
    }
  }

  &__nav {
    padding-right: 161px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 14px;

      li:first-child {
        a {
          color: $color-white;
          font-weight: 600;
        }
      }

      li {
        a {
          font-size: 14px;
          color: #a1a1a1;
        }
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 14px;

    p:first-child {
      color: $color-white;
      font-weight: 600;
    }

    p {
      color: #a1a1a1;
    }
  }

  &__bottom {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy {
    font-family: 'Proxima Nova', sans-serif;
    font-size: 13px;
    color: #777777;
  }

  &__social {
    position: relative;
  }

  &__instagram {
    @include icons-style;
  }
}
