.licenses {
  margin-bottom: 100px;

  &__title {
    @include heading-lg;
    margin-bottom: 40px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
