.request {
  margin-bottom: 100px;
  color: #151515;

  &__inner {
    display: flex;
    gap: 45px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &__card {
    border: 1px solid #d5d5d5;
    border-radius: $radius-lg;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 363px;
    height: 125px;
    justify-content: center;

    &--wide {
      height: 200px;
    }

    &--size {
      font-size: 18px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  &__text {
    width: 204px;
    font-size: 17px;
  }

  &__link,
  &__label {
    color: #777777;
  }

  &__time {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    gap: 10px;
  }

  &__form {
    flex: 1;
  }

  &__form-bg {
    height: 100%;
    border-radius: $radius-lg;
    background: linear-gradient(rgba(30, 30, 30, 0.7), rgba(30, 30, 30, 0.7)), url('./../img/building-materials.png');
    display: flex;
    align-items: center;
    padding-left: 112px;
  }

  &__title {
    @include heading-lg;
    color: $color-white;
    margin-bottom: 30px;
    height: 33px;
  }

  &__description {
    width: 405px;
    font-size: 19px;
    margin-bottom: 30px;
    color: #afafaf;
  }

  &__form-fields {
    width: 100%;
    max-width: 446px;
  }

  &__inputs {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;

    input {
      width: 215px;
      height: 55px;
      padding: 21px 20px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      color: $color-white;

      &::placeholder {
        color: #dadada;
      }
    }
  }

  &__input-message {
    width: 445px;
    height: 55px;
    padding: 21px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 26px;
    overflow: hidden;
    color: $color-white;

    &::placeholder {
      color: #dadada;
    }
  }

  &__submit {
    background-color: $color-button;
    color: $color-white;
    border-radius: $radius-full;
    padding: 13px 57px;
  }
}
