.request {
  margin-bottom: 100px;

  &__inner {
    display: flex;
    gap: 45px;
    height: 492px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__card {
    border: 1px solid #D5D5D5;
    border-radius: 32px;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 363px;
    height: 125px;
    justify-content: center;

    &--wide {
      height: 200px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #444;

    &--link {
      text-decoration: none;
      cursor: pointer;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  &__text {
    color: #151515;
  }

  &__link {
    color: #777;
    font-size: 16px;
  }

  &__label {
    color: #777777;
  }

  &__time {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;
  }

  &__form {
    flex: 1;
  }

  &__form-bg {
    height: 100%;
    border-radius: 32px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('./../../img/building-materials.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 112px;
  }

  &__form-content {
    color: #fff;
  }

  &__title {
    font-family: $font-accent;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__description {
    margin-bottom: 25px;
    color: #ddd;
    width: 405px;
  }

  &__form-fields {
    width: 100%;
    max-width: 445px;
  }

  &__inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;

    input {
      flex: 1;
      padding: 12px 16px;
      border-radius: 8px;
      border: none;
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff;

      &::placeholder {
        color: #dadada;
      }
    }
  }

  textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    margin-bottom: 20px;
    resize: vertical;
    color: #fff;

    &::placeholder {
      color: #dadada;
    }
  }

  &__submit {
    background-color: $color-button;
    color: $white-color;
    border: none;
    border-radius: 100px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($color-button, 8%);
    }
  }
}
