.specialization {
  margin-bottom: 118px;

  &__inner {
    display: flex;
    gap: 50px;
  }

  &__image-wrapper {
    flex-shrink: 0;
    width: 542px;
    height: 502px;

    img {
      object-fit: cover;
      border-radius: $radius-lg;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    h2 {
      @include heading-lg;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 526px;
    gap: 15px;

    li {
      font-size: 18px;
      color: $color-description;
      position: relative;
      padding-left: 20px;

      &::before {
        content: '•';
        position: absolute;
        top: 4px;
        left: 0;
        color: $color-description;
        font-size: 18px;
        line-height: 1;
      }
    }
  }
}
