.header__lang-switch {
  background-color: $color-white;
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: $radius-full;
  position: relative;
  height: 42px;
  align-items: center;

  @media (max-width: 768px) {
    min-width: 130px;
    justify-content: center;
  }

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    height: 32px;
    background-color: $color-dark-blue;
    border-radius: $radius-full;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  &--en::before {
    transform: translateX(60px);
  }

  &__btn {
    width: 60px;
    height: 32px;
    color: $color-black;
    position: relative;
    z-index: 2;

    &--active {
      color: $color-white;
    }
  }
}
