.nav__list {
  display: flex;
  gap: 10px;
  border: 1px solid $color-white;
  border-radius: $radius-full;
  padding: 5px;
  position: relative;
}

.nav__item {
  min-width: 130px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.nav__list::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 130px;
  height: 32px;
  background-color: $color-dark-blue;
  border-radius: $radius-full;
  transform: translateX(var(--nav-translate-x));
  transition: transform 0.3s ease;
  z-index: 1;
}
