@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;700&family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: $font-main;
  background-color: $color-white;
  color: $color-black-soft;
  font-weight: 400;
  font-size: 16px;
}

.whatsapp-btn {
  position: fixed;
  right: 12px;
  bottom: 38px;
  z-index: 100;
}

html {
  scroll-behavior: smooth;
}

a {
  color: $color-white;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1251px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}
