// Fonts

$font-main: 'Open Sans', sans-serif;
$font-accent: 'Fira Sans', sans-serif;

// Colors

$white-color: #FFFFFF;
$color-dark-blue: #1C2D4A;
$color-button: #345389;
$color-black-soft: #1D1D1D;
$color-description: #666666;
$color-grey-light: #D5D5D5;

// Border

$radius-full: 100px;

@mixin icons-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}