// Fonts

$font-main: 'Open Sans', sans-serif;
$font-accent: 'Fira Sans', sans-serif;

// Colors

$color-white: #ffffff;
$color-dark-blue: #1c2d4a;
$color-button: #345389;
$color-black-soft: #1d1d1d;
$color-black: #000000;
$color-description: #666666;
$color-grey-light: #d5d5d5;

// Borders

$radius-full: 100px;
$radius-lg: 32px;

// Mixins

@mixin icons-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin heading-lg {
  font-family: $font-accent;
  font-size: 48px;
  font-weight: 500;
}
